@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}

#errorName, #errorLastName, #errorPassword, #errorAddress, #errorEmail, #errorPhone {
    /* display: block; */
    display: none;
}


.input-incorrecto .input{
	border: 3px solid #bb2929;
}
.input-correcto .input{
	border: 3px solid #1ed12d;
}
